<p style="color: green"><%= notice %></p>


<h1 class = "text-2xl font-italic py-3">Pages</h1>
<%= link_to "New page", new_page_path, class:"border border-gray-200 rounded shadow px-2 py-2 hover:bg-gray-400"%>

<div id="pages" class="py-4">
  <%= render @pages %>
</div>


